.main {
  display: grid;
  width: 100%;
}

.top-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: solid black 2px;
  height: 50px;
}

.new-game-btn,
.quit-game-btn {
  width: 150px;
  height: 25px;
}

.playerscore-wheel-container {
  display: flex;
}

.puzzle-container {
  border: solid green 2px;
  height: 300px;
}

.puzzle-rows-container {
  border: black solid 2px;
  height: 50px;
  width: 90%;
}

.puzzle-row {
  border: solid black 2px;
  height: 10px;
  width: 100px;
}



.guess-container {
  border: solid blue 2px;
  height: 75px;
}

.players-score-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: solid purple 2px;
  height: 200px;
  width: 50%;
}

.player-one-container,
.player-two-container,
.player-three-container {
  text-align: center;
  border: solid orange 2px;
  height: 150px;
  width: 150px;
}

.current-spin-value-container {
  border: solid black 2px;
  width: 50%;
}

.wheel-container {
  border: solid yellow 2px;
  width: 50%;
}

.wheel-img {
  height: 200px;
}