* {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 1.5px;
  font-weight: bold;
}

.main {
  display: grid;
  width: 100%;
}

.start-screen {
  display: flex;
  align-items: center;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  border: grey 5px solid;
  border-radius: 45px;
  flex-direction: column;
  color: white;
  height: 82%;
  justify-content: center;
  margin: 105px;
  position: absolute;
  top: -5%;
  width: 82%;
  opacity: .9;
  z-index: 1;
}

.hidden {
  visibility: hidden;
}

.displaynone {
  display: none;
}

.start-screen-heading {
  color: orange;
  font-size: 55px;
  letter-spacing: 4px;
}

.buyvowel-screen,
.solvepuzzle-screen {
  display: flex;
  align-items: center;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  border: grey 5px solid;
  border-bottom: none;
  border-radius: 45px;
  flex-direction: column;
  color: white;
  height: 17%;
  justify-content: center;
  position: absolute;
  top: 295px;
  right: 37px;
  width: 355px;
  opacity: .9;
  z-index: 10;
}

.name-input {
  font-size: 18px;
  height: 25px;
  margin: 10px;
  padding: 5px;
  width: 150px;
}

.top-nav-container {
  align-items: center;
  background-color: #5c128c;
  border-left: solid black 2px;
  border-right: solid black 2px;
  border-top: solid black 2px;
  display: flex;
  justify-content: space-evenly;
  height: 40px;
  padding: 5px;
  margin-bottom: -5px;
}

.start-button:hover {
  background-color: #5c128c;
  color: white;
  cursor: pointer;
}

.reset-game-btn,
.quit-game-btn {
  border-radius: 10px;
  height: 25px;
  outline: none;
  width: 150px;
}

.guess-vowel-btn,
.solvepuzzle-submit-btn {
  border-radius: 10px;
  height: 25px;
  outline: none;
  width: 107px;
}

.solvepuzzle-submit-btn {
  margin-bottom: 14px;
}

.start-button {
  border: solid grey 1.5px;
  margin: 15px;
  height: 35px;
  background-color: #289477;
  color: white;
  width: 165px;
}

.reset-game-btn:hover,
.quit-game-btn:hover {
  background-color: orange;
  cursor: pointer;
}

.start-button:focus,
.reset-game-btn:focus,
.quit-game-btn:focus,
.buy-vowel-btn:focus,
.solve-puzzle-btn:focus,
.letter-guess-submit-btn:focus {
  outline: none;
}

.puzzle-container {
  align-items: center;
  background-image: url("images/WOF_bg.jpg");
  background-size: 59%;
  border-left: solid black 2px;
  border-right: solid black 2px;
  color: orange;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: center;
}

.puzzle-category-name {
  font-family: 'Bungee', cursive;
  font-size: 39px;
  letter-spacing: 3px;
}

.puzzle-rows-container {
  background-color: #CED1D0;
  border: black solid 5px;
  margin: 10px;
}

.puzzle-row {
  height: 75px;
}

.puzzle-board-row-one,
.puzzle-board-row-two,
.puzzle-board-row-three {
  display: flex;
  justify-content: center;
  margin: 7px;
}

.puzzle-box {
  background-color: #289477;
  border: black solid 2px;
  height: 72px;
  margin-left: 5px;
  margin-right: 5px;
  width: 50px;
}

.letters-guessed-container {
  display: flex;
  justify-content: left;
  padding-top: 10px;
  background-color: black;
  color: white;
}

.letters-guessed-text {
  margin-left: 30px;
  color: #CED1D0;
}

.guess-container {
  align-items: center;
  background-color: black;
  border: solid black 2px;
  color: white;
  display: flex;
  height: 45px;
  justify-content: space-around;
}

.instructions-text {
  color: orange;
}

form {
  color: white;
  font-size: 20px;
}

span.letter {
  letter-spacing: 10px;
}

.letter-guess-input {
  height: 21px;
  padding-left: 5px;
  padding-right: 5px;
  width: 87px;
}

.buy-vowel-btn,
.solve-puzzle-btn {
  border-radius: 10px;
  height: 25px;
  width: 150px;
  outline: none;
}

.solvepuzzle-submit-btn {
  width: 256px;
}

.vowel-guess-input,
.solvepuzzle-guess-input {
  text-align: center;
  height: 20px;
}

.solvepuzzle-guess-input {
  display: block;
  width: 250px;
}

.grey-font {
  color: grey;
}

.letter-guess-submit-btn {
  border-top-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 27px;
  outline: none;
  margin-left: -6.4px;
  width: 80px;
}

.letter-guess-submit-btn:hover,
.buy-vowel-btn:hover,
.solve-puzzle-btn:hover {
  background-color: orange;
  cursor: pointer;
}

.playerscore-wheel-container {
  display: flex;
}

.players-score-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  width: 50%;
}

.player-one-container,
.player-two-container,
.player-three-container {
  background-color: white;
  border: solid black 2px;
  color: #5c128c;
  font-size: 18px;
  height: 150px;
  margin: 7px;
  padding: 7px;
  text-align: center;
  width: 150px;
}

.player-text {
  font-size: 14px;
  color: black;
  line-height: 50%;
}

.player-name-text {
  font-size: 25px;
}

.person-avatar-img {
  border-radius: 50%;
  border-bottom: solid black 3px;
  height: 75px;
  margin-top: -20px;
}

.dollar-amt-text {
  color: green;
}

.current-spin-value-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 30%;
}

.current-spin-value {
  font-size: 55px;
  margin: 19px;
}

.wheel-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 470px;
}

.wheel-btn {
  background-image: url("images/Wheel.png");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%;
  color: #f0f0f0;
  cursor: pointer;
  font-size: 18px;
  font-weight: 300;
  outline: none;
  height: 250px;
  width: 250px;
  -webkit-animation: rotation 15s infinite linear;
}

.wheel-btn:hover {
  color: black;
}

.spin-text {
  line-height: 50%;
  font-size: 12px;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}